<form class="new-comment-form formCont d-flex flex-wrap justify-content-center" data-blogid="{{id}}">
    <div class="textAreaCont p-2">
        <textarea id='comment' name="comment-body" placeholder="Enter a comment here..." cols="30" rows="2"></textarea>
    </div>
    <div class="btnComment p-2">
        <button class="button btn hbar" type="submit" id="newCommentBtn">Add Comment</button>
    </div>
</form>